<!DOCTYPE html>
<html>
  <head>
    <title>NineNineCats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"> 
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <div class="ui container">
      <h1>99 Cats</h1>
      <%= yield %>
    </div>
  </body>
</html>
