<!-- 
  CAT SHOW PAGE
-->

<div>
  <h3><%= @cat.name %></h3>

  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Value</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Age</td>
        <td><%= @cat.age %></td>
      </tr>
      <tr>
        <td>Birth Date</td>
        <td><%= @cat.birth_date %></td>
      </tr>
      <tr>
        <td>Color</td>
        <td><%= @cat.color %></td>
      </tr>
      <tr>
        <td>Sex</td>
        <td><%= @cat.sex %></td>
      </tr>
    </tbody>
  </table>
  <p>
    <%= @cat.description %>
  </p>
</div>

<br><br>

<div>
  <%= link_to '< All catz', cats_url, class: 'ui button' %>
  <%= link_to 'Edit catz >', edit_cat_url(@cat), class: 'ui button'%>
</div>